#container {
    height: 500px;
    width: 1000px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#container > div{
    height: 100%;
    width: 10%;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}